--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.4.0
torchvision==0.19.0
pillow==10.4.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
tqdm==4.67.1
easydict==1.13
opencv-python-headless==4.10.0.84
scipy==1.14.1
rembg==2.0.60
onnxruntime==1.20.1
trimesh==4.5.3
xatlas==0.0.9
pymeshfix==0.17.0
igraph==0.11.8
xformers==0.0.27.post2
spconv-cu124==2.3.8
cumm-cu124==0.7.11
transformers==4.50.3
pydantic==2.10.6
diffusers==0.32.0
lightning==2.2
mesh2sdf
loguru
tetgen==0.6.3
pymeshfix
igraph
omegaconf
pycocotools
kornia
timm
h5py
boto3
--find-links https://data.pyg.org/whl/torch-2.4.0+cu124.html
torch-scatter
gradio==6.5.1
spaces==0.47.0
mesh2sdf
loguru
opencv-python==4.13.0.92
pytetwild==0.2.3
pyvista==0.47.0
meshio==5.3.5
segment_anything==1.0
einops == 0.8.2
plyfile == 1.1.3
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/facebookresearch/detectron2.git
flash-attn == 2.7.0.post2
setuptools == 80.10.2
